<!DOCTYPE html>
<meta charset=utf-8>
<title>Critical Mass Can Suck It</title>
<link rel=stylesheet href=style.css>
<link media="only screen and (max-device-width: 480px)" href=iphone.css rel=stylesheet>
<h1><a href="http://criticalmasscansuckit.com"><span id="critical-mass">Criticalmass</span> <span id="can-suck-it">cansuckit.com</span></a> <span id="can-suck-it">can suck it</span></h1>
<p id="chill">
  <a href="http://vimeo.com/11003628">It's</a>
  <a href="http://vimeo.com/6014063">just</a>
  <a href="http://vimeo.com/4001638">a</a>
  <a href="http://vimeo.com/17234501">bike</a> 
  <a href="http://vimeo.com/17337792">parade</a>, 
  <a href="http://vimeo.com/17219581">people</a>.
  <a href="http://vimeo.com/17203607">Chill</a>
  <a href="http://vimeo.com/17356289">out</a>.
</p>