<!DOCTYPE html>
<meta charset=utf-8>
<title>Critical Mass Can Suck It</title>
<link rel=stylesheet href=style.css>
<link media="only screen and (max-device-width: 480px)" href=iphone.css rel=stylesheet>
<h1><span id="critical-mass">Critical Mass</span> <span id="can-suck-it">can suck it</span></h1>